#unsupported-browser, #unsupported-browser.hide {
    display: none;
}

#unsupported-browser ul li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
}

#unsupported-browser ul {
    margin: 5px;
}

.no-keyframes #unsupported-browser,
.no-cssanimations #unsupported-browser,
.no-csstransforms #unsupported-browser,
.no-csstransitions #unsupported-browser {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    padding: 10px;
    background-color: rgb(15, 70, 131);
    color: white;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#unsupported-browser a {
    color: white;
    font-weight: bold;
}

#unsupported-browser #dismiss {
    background-color: rgb(242, 242, 242);
    width: 25px;
    height: 25px;
    color: red;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 3%;
    top: 2%;
    margin-left: 100px;
    font-size: 1.2em;
}

#warning-text {
    margin: 0 10%;
}